<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item d-flex justify-content-between"
      *ngFor="let recipe of recipes"
    >
      <h4>{{ recipe.name }}</h4>
      <p>{{ recipe.description }}</p>
      <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" style="max-height: 50px;">
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

